@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  padding: 13px 28.5px 12px 28.5px;
  border: 1.5px solid #2C2830;
  background-color: #2C2830;
  transition: 0.3s;
}
.btn:hover {
  background-color: transparent;
  border: 1.5px solid #2C2830;
}
.btn:hover a {
  color: #2C2830;
}
.btn a {
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.banner-btn {
  padding: 13px 28.5px 12px 28.5px;
  border: 1.5px solid #FFF;
  background-color: transparent;
  transition: 0.3s;
}
.banner-btn:hover {
  background-color: white;
}
.banner-btn:hover a {
  color: #2C2830;
}
.banner-btn a {
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.line {
  width: 150px;
  height: 1px;
  background-color: #fff;
}

header menu nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0px 19px 0px;
}
header menu nav ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
header menu nav ul li a {
  color: #837D88;
  text-align: center;
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: 0.3s;
}
header menu nav ul li a:hover {
  color: #2C2830;
}
header menu nav .hamb-menu {
  display: none;
}

.banner {
  background-color: #2D2641;
}
.banner .banner-items {
  display: flex;
  justify-content: space-between;
}
.banner .banner-items .banner-text {
  padding-top: 105px;
}
.banner .banner-items .banner-text h1 {
  padding-top: 65px;
  color: #FFF;
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
  max-width: 540px;
}
.banner .banner-items .banner-text p {
  padding: 16px 0px 24px 0px;
  color: #FFF;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 540px;
}
.banner .banner-items .banner-text .banner-btn {
  padding: 13px 28.5px 12px 28.5px;
  border: 1.5px solid #FFF;
  background-color: transparent;
  transition: 0.3s;
}
.banner .banner-items .banner-text .banner-btn:hover {
  background-color: white;
}
.banner .banner-items .banner-text .banner-btn:hover a {
  color: #2C2830;
}
.banner .banner-items .banner-text .banner-btn a {
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.banner .banner-items .banner-image {
  transform: translateY(130px);
}
.banner .banner-items .banner-image .mobile {
  display: none;
}

.different {
  padding-top: 305px;
}
.different .line-2 {
  background-color: #C396C6;
}
.different h2 {
  padding-top: 63px;
  color: #2C2830;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
}
.different .section-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
}
.different .section-cards h3 {
  max-width: 350px;
  padding-top: 32px;
  color: #2C2830;
  font-family: DM Serif Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.389px;
}
.different .section-cards p {
  max-width: 350px;
  padding-top: 16px;
  color: #837D88;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2D2641;
  padding: 69px 80px;
  margin-top: 158px;
}
.work h4 {
  max-width: 475px;
  color: #FFF;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.778px;
}

footer {
  padding: 50px 0px;
  margin-top: 150px;
  background-color: #FAFAFA;
}
footer nav {
  display: flex;
  justify-content: space-between;
}
footer nav ion-icon {
  row-gap: 16px;
  width: 24px;
  height: 24.61px;
  color: #837D88;
  transition: 0.3s;
}
footer nav ion-icon:hover {
  color: #2C2830;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .banner .banner-items .banner-image {
    width: 530px;
  }
  .banner .banner-items .banner-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 940px) {
  header menu nav ul {
    display: none;
  }
  header menu nav .hamb-menu {
    display: block;
  }
}
@media only screen and (max-width: 930px) {
  .banner {
    background-color: #2D2641;
  }
  .banner .banner-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 20px;
  }
  .banner .banner-items .banner-text {
    text-align: center;
  }
  .banner .banner-items .banner-text .line {
    display: none;
  }
  .different {
    padding-top: 50px;
  }
  .different .line-2 {
    margin: 0 auto;
  }
  .different h2 {
    text-align: center;
  }
  .different .section-cards .card .card_items {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .work h4 {
    max-width: 450px;
    color: #FFF;
    font-family: DM Serif Display;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.778px;
  }
}
@media only screen and (max-width: 768px) {
  .banner .banner-items .banner-text {
    padding: 93px 0px;
  }
  .banner .banner-items .banner-image {
    transform: translateY(0px);
    padding-left: -50px;
  }
  .different .section-cards {
    flex-direction: column;
    align-items: center;
  }
  .different .card_2 {
    margin-top: 56px;
  }
  .different .card_3 {
    margin-top: 56px;
  }
  .work {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .work h4 {
    max-width: 279px;
    text-align: center;
  }
}
@media only screen and (max-width: 680px) {
  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
}/*# sourceMappingURL=style.css.map */